# Laravel
/vendor
/node_modules
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/.env
.env.backup

# Sistema
.DS_Store
Thumbs.db

# Build
/public/hot
/public/storage
/public/assets/backend/icons/

# IDEs
.idea
.vscode

# Laravel
/vendor
/node_modules
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/.env
.env.backup

# Build
/public/hot
/public/storage
/public/assets/backend/icons/

# IDEs
.idea
.vscode

# Sistema
.DS_Store
Thumbs.db
